[Unit]
Description=Aria2 - The ultra fast download utility
After=network.target

[Service]
Type=simple
User=root
PermissionsStartOnly=true
Environment="PASSWD=test" "DIR=/root/files/" "SESSION=/var/cache/aria2.session"
ExecStartPre=/bin/touch $SESSION
ExecStart=/usr/bin/aria2c --rpc-secret=$PASSWD --input-file=$SESSION --save-session=$SESSION --dir=$DIR \
--enable-rpc=true \
--rpc-allow-origin-all=true \
--rpc-listen-all=true \
--max-connection-per-server=15 \
--bt-enable-lpd=true \
--max-upload-limit=2M \
--allow-overwrite=true \
--save-session-interval=60 \
--peer-id-prefix=-TR2920- \
--user-agent=Transmission/2.92 \
-c -D

[Install]
WantedBy=default.target
