[Unit]
Description=Shadowsocks-go Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/shadowsocks-server -u -c /etc/shadowsocks-go/config.json

[Install]
WantedBy=multi-user.target