[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssserver --user nobody -c /etc/shadowsocks/config.json

[Install]
WantedBy=multi-user.target
