[Unit]
Description=ttyd - Share your terminal over the web
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
Environment="INTERFACE=eth0 " "COMMAND=bash" "AUTH=test:test"
ExecStart=/usr/bin/ttyd -i ${INTERFACE} -c ${AUTH} ${COMMAND}
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
