[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=simple
PAMName=login
PIDFile=/root/.vnc/%H:%i.pid
ExecStart=/usr/bin/vncserver -geometry 1440x900 -alwaysshared -localhost no -depth 24 :%i
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=default.target
