[Unit]
Description=Remote desktop service (VNC)
After=network.target lightdm.service

[Service]
Type=simple
User=lightdm
ExecStart=/usr/bin/x0vncserver \
	-SecurityTypes=VncAuth \
	-AlwaysShared \
	-PasswordFile=/usr/share/.vnc/passwd \
	-rfbport=%i \
	-display=:0.0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
